.app-label {
    position: fixed; 
    top: 50px; 
    left: 50px; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
}

.logout-button {
    position: fixed; 
    top: 60px; 
    right: 50px; 
    font-size: 20px;
    background-color: white;
    color: red;
    border-radius: 20px;
    inline-size: 100px;
    border-color: red;
    hover {
        background-color: black; 
        border-color: black;
        color: black;
        cursor: pointer;
    }
}